body {
  background-image: url("buttonbackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: rgb(5,0,45);
}

p {
  font-size: 150%
}

button {
  vertical-align: middle;
  font-size: 175%;
  background-color: white;
  border-style: hidden;
}